.news-container .row img {
    max-width: 600px;
    height: auto;

    overflow: hidden;

}

.news-container .row .news-content {
    width: 600px;
}


 @media All and (max-width: 970px) {
    .news-container .news-item {
        flex-direction: column;
    }
 }