.product-carousel {
    max-height: 526px;
    display: flex;
    align-items: center;
}

.product-carousel button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10%;

    cursor: pointer;
    height: 40px;
    width: 40px;

    margin-top: -20px;
    
    outline: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    z-index: 10;
}

.product-carousel .carousel-control-prev {
    left: 20px;
    filter: invert(100%);
}

.product-carousel .carousel-control-next {
    right: 20px;
    filter: invert(100%);
}